body{
    
    font-family: 'PT Serif', serif;
}


h1{
    
    font-size: 40px;
}

.banner-section{
    margin-top: 50px;
    display: flex;
    margin-bottom: 100px;
    
}

.skip-word{
    color: blue;
}

.half-part{
    width: 50%;
    padding-left: 2%;
}

.half-part img{
    width: 90%;
}

.first-button{
    text-decoration: none;
    background-image: linear-gradient(purple, tomato);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    border-radius: 35px;

}

.middle-banner-section{
    display: flex;
    margin-bottom: 100px;
}

.about-part{
    margin-left: 30%;
    padding: 5%;
    

}

.middleback{
    background-image: url(img/Frame\ 59.jpg);
    background-repeat: no-repeat;
    
}

.middle-part img{
 width: 150%;
}

#third-headtxt{
    text-align: center;
}
#third-ptxt{
    text-align: center;
}


.fooditem{
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px blue;
    border-radius: 5px;
    text-align: center;
    
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
