body{
    margin: 0;
    font-family: 'PT Serif', serif;
}


h1{
    
    font-size: 40px;
}

.banner-section{
    margin-top: 50px;
    display: flex;
    margin-bottom: 100px;
    padding: 50px;
    
}

.skip-word{
    color: blue;
}

.half-part{
    width: 50%;
    padding-left: 2%;
}

.half-part img{
    width: 90%;
}

.first-button{
    text-decoration: none;
    background-image: linear-gradient(blue, aqua);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    border-radius: 35px;

}

.middle-banner-section{
    display: flex;
    margin-bottom: 100px;
    padding: 50px;
}

.about-part{
    margin-left: 30%;
    padding: 5%;
    

}

.middleback{
    background-image: url(img/middle.png);
    background-repeat: no-repeat;
    width: 100%;
    
}

.middle-part img{
 width: 150%;
}

#third-headtxt{
    text-align: center;
}
#third-ptxt{
    text-align: center;
}


.fooditem{
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px blue;
    border-radius: 20px;
    text-align: center;
    
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}

.bonus-section{
    background-image: linear-gradient(blue , aqua);
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 50px;
}

.footer-division{

    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}

.foodtext{
    color: chocolate;
}

.topnav {
    background-image: linear-gradient(blue , aqua);
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    margin-right: 120px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
  }

  
.topnav a:hover {
    background-color:aqua;
    color: blue;
  }
  
